@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior: none;
  }

  body {
    overflow-x: hidden;
  }
}

@layer components {
  .container--card {
    perspective: '1000px';
  }

  .card {
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    transition: transform 0.4s ease;
  }

  .card--active {
    transform: rotateY(180deg);
  }

  .card__upImage {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}
